#contact {
  height: 100%;
  padding: 1rem;
}

.frm-container {
  display: flex;
  flex-direction: column;
}

.frm-container > * {
  width: 100%;
}

.frm-container form {
  margin-bottom: 20px;
}

.frm-container form > * {
  margin: 5px 0;
}

.frm-container .mat-radio-button {
  margin: 0 5px;
}
