<section id="contact">

  <div class="container position-relative frm-container">

    <form class="frm-container" [formGroup]="frmContact">

      <div class="row">
        <div class="col pl-0">
          <mat-form-field [floatLabel]="frmContact.value.floatLabel" class="w-100">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome completo" formControlName="name">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col pl-0">
          <mat-form-field [floatLabel]="frmContact.value.floatLabel" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </div>

        <div class="col pl-0">
          <mat-form-field [floatLabel]="frmContact.value.floatLabel" class="w-100">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="Telefone com DDD. ex: (11) 9 8076-5432" formControlName="phone">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col pl-0">
          <mat-form-field class="w-100">
            <textarea matInput placeholder="Como podemos te ajudar?" formControlName="message"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
          <div class="col pl-0">
            <button class="btn btn-secondary" (click)="onSubmit()">Enviar</button>
          </div>
      </div>


    </form>

  </div>

</section>
