// gereral

html {
  font-size: px-rem(16px);
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #211D1E;
  color: #f1f1f1;
}

.hide { display: none; }
.relative {
  position: relative;
  z-index: 1;
}
.anti { -webkit-font-smoothing: antialiased; }
.w-100 { width: 100% !important; }
.pl-0 { padding-left: 0; }

#master-content {

  .bg {
    background: url(/assets/images/bg-main.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &.bg-main {
      background-image: url('/assets/images/bg-001.jpg');
    }
  }

  .logo {
    width: 300px;
    height: 225px;
  }

  form {

    input, textarea {
      &:focus {
        background-color: #333;
      }
    }

    textarea {
      min-height: 200px;
      background-color: $dark-grey;
      resize: none;
      padding: 10px;
    }
  }
}

// breadcrumb

nav.breadcrumbs {
  display: block;
  line-height: 30px;
  margin: 15px 0;
}

nav.breadcrumbs a {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  font-size: px-rem(14px);
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 30px;
  cursor: pointer;
  color: #e1e1e1;
}

nav.breadcrumbs a::after {
  display: inline-block;
  height: 30px;
  margin: 0 5px;
  content: '/';
}

nav.breadcrumbs a:last-child {
  font-weight: bold;
  color: #fff;
}

nav.breadcrumbs a:last-child::after {
  display: none;
}

// titles

.main-title {
  font-family: 'Montserrat', sans-serif;
  font-size: px-rem(44px);
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px #000;
}


/* eof */
