.mat-form-field.mat-focused {
  .mat-form-field-label {
    color: rgb(130, 177, 146);
  }

  .mat-form-field-ripple {
    background-color: rgb(175, 247, 199);
  }

  .mat-input-element {
    caret-color: #c9e7a6;
  }
}
