<section id="residential">

    <div class="container position-relative">
      <app-carousel
      [slides]="slides"></app-carousel>
    </div>

    <div class="container position-relative">
      <p class="mt-30">
        A <strong>STRUTTURALE</strong> tem experiência no atendimento a grandes incorporadoras e construtoras.
        Construção de Stands, Plantões de vendas, Decorados e Unidades prontas para viver.</p>

      <p class="mt-30">
          <i class="fas fa-edit"></i>
        <strong>Projeto</strong><br />
        Desenvolvemos projetos de exteriores e interiores e também gerenciamos e executamos projetos (nossos ou de terceiros).</p>

      <p class="mt-30">
        <i class="fas fa-object-group"></i>
        <strong>Construção</strong><br />
        Não importa a complexidade do seu projeto, nossas equipes são certificadas e estão preparadas para entregar com excelência e qualidade no tempo que você precisa.</p>

      <p class="mt-30">
        <i class="fab fa-envira"></i>
        <strong>Paisagismo e periferia</strong><br />
        Projetos e execução de serviços de periferias e paisagismos de todos os tamanhos e graus de dificuldade.</p>

      <p class="mt-30">
        <i class="far fa-handshake"></i>
        <strong>Gerenciamento, manutenção e reforma</strong><br />
        Gerenciamento da manutenção geral do ponto de venda e apartamento decorado, com comparativos de custos, interface com fornecedores, visitas periódicas e
        relatórios fotográficos.</p>

      <p class="mt-30">
          <i class="far fa-times-circle"></i>
        <strong>Demolição</strong><br />
        Execução de demolição, tapume e ligações provisórias. Entregamos seu terreno pronto para ser incorporado.</p>

      <p class="mt-30">
          <i class="far fa-bookmark"></i>
        <strong>Áreas comuns</strong><br />
        Reformas e revitalização de áreas comuns em condomínios residenciais e corporativos.</p>

    </div>



  </section>
