<section id="home">

  <div class="container position-relative">
    <app-carousel
    [slides]="slides"
    [hasBg]="true"></app-carousel>
  </div>

  <div class="container position-relative">
    <h3>Sua obra de um jeito certo e estruturado</h3>
    <p class="mt-30">Evite dores de cabeça com obras e reformas, a <strong>STRUTTURALE</strong> gerencia para você de forma eficiente, rápida e transparente. Reduzindo custos e contra tempos.</p>
    <p class="mt-30">Uma empresa jovem mas que conta com equipes formadas por profissionais capacitados e experientes.
      A <strong>STRUTTURALE</strong> foi criada por especialistas na área da construção civil, com objetivos de alcançar
      através de um modelo moderno de colaboração mutua entre sua equipe, a excelência em resultados.</p>
    <p class="mt-30">Não somos uma empresa de um único dono, todos os profissionais envolvidos fazem parte da empresa como sócios.
      Acreditamos em um modelo de parcerias que agrega comprometimento entre todos e a soma desse know-how de engenheiros,
      arquitetos, designers, pintores, pedreiros, encanadores, eletricistas, entre outros é a nossa garantia de obras organizadas,
      eficientes e com baixos custos.</p>
  </div>



</section>
