<section id="residential">

    <div class="container position-relative">
      <app-carousel
      [slides]="slides"></app-carousel>
    </div>

    <div class="container position-relative">
      <p class="mt-30">A <strong>STRUTTURALE</strong> tem experiência em todo tipo de demanda e em várias formas de atendimento.<br />
        Como uma empresa de engenharia conseguimos garantir assertividade e condições especiais
        junto a fornecedores, com quem temos constante relacionamento e volume de negócios que nos permitem minimizar os
        desgastes e os custos inerentes as obras.</p>

      <ul>
        <li class="no-dot"><strong>Serviços “Pronto para viver”</strong></li>
        <li class="no-dot">Para viabilizar entrada em imóveis novos com mão de obra e materiais:</li>
        <li>Instalação de pisos e rodapés;</li>
        <li>Eletricistas (Instalação de luminárias e eletros);</li>
        <li>Forros de gesso; </li>
        <li>Instalação de aquecedores e metais de banheiro;</li>
        <li>Vidraçaria (box, espelhos e fechamentos de sacada).</li>
      </ul>

      <p class="bd-top"><strong>Desenvolvemos também projetos completos de planejados, com o padrão das grandes grifes e preço de marcenaria.</strong></p>
      <p class=""><strong>Fornecimento e instalação de ar-condicionado.</strong></p>
      <p class=""><strong>Pintura, limpeza, remoção de entulhos.</strong></p>
      <p class=""><strong>Demolição, mudanças de layout em alvenaria e dry-wall.</strong></p>
      <p class=""><strong>Desenvolvimento de projetos de interiores, com três etapas: Layout, Caderno de especificações e Projeto executivo. Abrangendo desde o mobiliário e eletros até a o último toque de produção.</strong></p>
      <p class=""><strong>Fornecemos ART – ANOTAÇÃO DE RESPONSABILIDADE TÉCNICA DE OBRAS ESERVIÇOS <em>(apenas para obras sob nossa responsabilidade).</em></strong></p>

    </div>



  </section>
